<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
    <script src="~/Scripts/ui-grid.min.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/webapiService.js"></script>
    <script src="~/Scripts/App/webapiController.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="navController">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-class="{active: isActive('/reporting/')}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Reporting <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#/latestreports">Latest Reports</a></li>
                            <li><a href="/#/archivedreports">Archived Reports</a></li>
                            <li><a href="/#/reportgen">Generate Reports</a></li>
                        </ul>
                    </li>
                    <li ng-class="{active: isActive('/Help')}">@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
