@{
    ViewBag.Title = "StreamAnalytics Job Status";
}
<h2>@ViewBag.Title.</h2>

<p>Job Name: @TempData["jobName"]</p>
<p>Job Creation Status: @TempData["jobCreationStatus"]</p>
<p>Input Name: @TempData["jobInputName"]</p>
<p>Input Creation Status: @TempData["jobInputCreationStatus"]</p>
